<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CHRISTIAN STUDENTS SACCO</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section class="sub-header">
            {% include 'core/nav.html' %}

       <h1>About Us</h1>
                
        </section>

        <!--about us content-->
        <section class="About Us">
            <div class="row">
                <div class="about-col">
                    <h1>We are the world's greatest University</h1>
                    <p>
                        uhfgeuigqwfcio ucbweuibouifbeuio ubvuwebuiwe wbvuwebv   oweb iuubwuiofbweoui wbuf
                        yfweuf9fhi ufeufqie uibefvuqeei9 ubqefuqweeu uiqbebfu9uqefi9 qeeuifue
                        qebuifbiq9hf iqefbique iqebfu iubefi9efb 9iqebfiqeu
                        iuebfvuiei qiefqei9fhqe iquef9qeuff qefiqeifbi qejifqeuifb qqiefuqb
                        qwufbqiufb eoifiqeifh qieufuiqefb
                    </p>
                    <a href="" class="hero-btn red-btn">EXPLORE NOW</a>
                </div>
                <div class="about-col">
                    <img src="{% static 'core/image/about.jpg' %}">

            </div>

        </section>
        


<!--testimonials-->



<!----call To Action------>



<!---footer-->
<section class="footer">
    <h4>About Us</h4>
    <p>lorem ipsum sit amet, consectetur adipiscing elit.
        tyyhefg eguebheh fudbtfyef <br>yebfuwefbuhbeyh uhbefeufbuie
        ehbuefbeihfei uibeiubve8fi iubeuiebfui uibeiufvbeiufb
        efbefibei9 eubbeifb
    </p>

    <div class="icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with<i class="fa fa-heart-o"></i>by Nathan Owino</p>
    
</section>


    </body>
</html>