<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CHRISTIAN STUDENTS SACCO</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     </head>
     <body>
        <section class="sub-header">
            {% include 'core/nav.html' %}
<!---------Javascript for toggle menu--------> 
       <h1>Our talent and empowerment programs for 2022</h1>
                
        </section>

        <!--cblog post content-->

        <section class="blog-content">
            <div class="row">
                <div class="blog-left">
                    <img src="{% static 'core/image/certificate.jpg' %}">
                    <h2>Our talent and empowerment programs for 2022</h2>
                    <p>lorem ipsum sit amet, consectetur adipiscing elit.
                        tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                        wrfdsd orem ipsum sit amet, consectetur adipiscing elit.
                        tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                        wrfdsd</p>
                        <br>
                        <p>lorem ipsum sit amet, consectetur adipiscing elit.
                            tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                            wrfdsd orem ipsum sit amet, consectetur adipiscing elit.
                            tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                            wrfdsd</p>
                            <p>lorem ipsum sit amet, consectetur adipiscing elit.
                                tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                                wrfdsdorem ipsum sit amet, consectetur adipiscing elit.
                                tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                                wrfdsdorem ipsum sit amet, consectetur adipiscing elit.
                                tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                                wrfdsd </p>
                                <p>lorem ipsum sit amet, consectetur adipiscing elit.
                                    tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                                    wrfdsdorem ipsum sit amet, consectetur adipiscing elit.
                                    tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                                    wrfdsdorem ipsum sit amet, consectetur adipiscing elit.
                                    tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                                    wrfdsdorem ipsum sit amet, consectetur adipiscing elit.
                                    tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                                    wrfdsd </p>
                                    <p>   <p>lorem ipsum sit amet, consectetur adipiscing elit.
                                        tyuigb rrtt  ttt e errsfgfdgfd wtgrertredfdffg wtgrertredfdffg
                                        wrfdsd </p></p>
                                        
                                        <div class="comment-box">
                                            <h3>Leave a comment</h3>
                                            <form class="comment-form">
                                             <input type="text" placeholder="Enter Name">
                                             <input type="email" placeholder="Enter Email">
                                             <textarea rows="5" placeholder="Your Comment"></textarea>
                                                 <button type="submit" class="hero-btn red-btn">POST COMMENT
                 
                                                 </button>
                                            </form> 
                                         </div>

                </div>
                <div class="blog-right">
                <h3>Post Categories</h3>
                 
            <div>
            <span>Business Aanalytics</span>
            <span>21</span>
         </div>
         <div>
            <span>Data science</span>
            <span>21</span>
         </div>
         <div>
            <span>Machine learning</span>
            <span>21</span>
         </div>
         <div>
            <span>Computer science</span>
            <span>26</span>
         </div>
         <div>
            <span>Autocad</span>
            <span>42</span>
         </div>
         <div>
            <span>Journalism</span>
            <span>21</span>
         </div>
        </div>
        </div>
        </section>

        <!---facilities--->

<!---footer-->
<section class="footer">
    <h4>About Us</h4>
    <p>lorem ipsum sit amet, consectetur adipiscing elit.
        tyyhefg eguebheh fudbtfyef <br>yebfuwefbuhbeyh uhbefeufbuie
        ehbuefbeihfei uibeiubve8fi iubeuiebfui uibeiufvbeiufb
        efbefibei9 eubbeifb
    </p>

    <div class="icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with<i class="fa fa-heart-o"></i>by Nathan Owino</p>
    
</section>





    </body>
</html>