{% load static %}
<nav class="banner-nav">
    <a href="{% url 'core:index' %}" class="home-logo">
        {% include 'core/cap.html' %}
        <h4>Eduford</h4>
    </a>
    <div class="nav-links" id="navLinks">
        <i class="fa fa-times" onclick="hideMenu()"></i>
        <ul>
            {% if location == "home" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'core:index' %}">Home</a>
            </li>
            {% if location == "about" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'core:about' %}">About</a>
            </li>
            {% if location == "blog" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'core:blog' %}">Blog</a>
            </li>
            {% if location == "shop" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'shop:index' %}">Shop</a>
            </li>
            {% if location == "contact" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'core:contact' %}">Contact</a>
            </li>
            <li></li>
            {% if location == "study" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'study:index' %}">Study</a>
            </li>
            {% if location == "chat" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'ai:chat' %}">Chat</a>
            </li>
            {% if location == "predictor" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'predictor:home' %}">Predict</a>
            </li>
            {% if location == "pc" %}
            <li class="--active">
            {% else %}
            <li class="">
            {% endif %}
                <a href="{% url 'pc:products' %}">Compare</a>
            </li>
        </ul>
        <ul class="nav-auth" id="navAuth">
            {% if request.user.is_authenticated and request.user.email_verified %}
            <li class="navbar_welcoming-open"><h3>Welcome <span>{{ abbreviatedname }}</span></h3></li>
            <li><a href="{% url 'authentication:signout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'authentication:signin' %}">Login</a></li>
            <li><a href="{% url 'authentication:signup' %}">Join Us</a></li>
            {% endif %}
            
        </ul> 
    </div>   
    <li class="navbar_welcoming-close"><h3>
        {% if request.user.is_authenticated and request.user.email_verified %}
        Welcome 
        <span>{{ abbreviatedname }}</span>
        {% endif %}
        </h3>
    </li>
        <i class="fa fa-bars 
        {% if not request.user.is_authenticated or not request.user.email_verified %}
        to-left
        {% endif %}
        " onclick="showMenu()"></i>
    <script>
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px";
        }
       </script>
</nav>